<html>
  <head>
          <meta name = 'viewport' content = 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'>

	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/standard.css') }}"></link>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/forms.css') }}"></link>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/launch_config.css') }}"></link>
          <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/responsive.css')}}"></link>

  </head>
   
  <body>
    <div id = 'header'>
      <h1 class = 'text-center'>Raspberry Pi Virtual Launchpad</h1>
    </div>

    <h1 class = 'title text-center'>Launch Configuration</h1>
    <div class = 'vertical-center-wrapper'>
	    <div class = 'vertical-center-container'>
        <form class = 'users-section' action = '/authorize' method = 'POST'>
          <h2 class = 'text-center'>Users</h2>
	  
	  {% for i in range(pads|length) %}
          <div class = 'user-select'>
            <p>{{pads[i].name}}</p>
	    <select name = {{'user' + i|string}} value = {{authorized_users[i]}}>
	      <option>None</option>
	      {% for user in users %}
	      	{% if user == authorized_users[i] %}
			<option selected>{{user}}</option>
		{% else %}
			<option>{{user}}</option>
		{% endif %}
	      {% endfor %}
            
	    </select>
          </div>
	  {% endfor %}

          <button class = 'submit users-section-btn' type = 'submit'>Authorize</button>
        </form>
        <form class = 'settings-section' action = 'settings' method = 'POST'>
          <h2 class = 'text-center'>Settings</h2>
          <div class = 'setting-config'>
            <p>Record Launch</p>
	    
	    {% if record_launch %}
	    <input name = 'record_launch' type = 'checkbox' checked></input>
	    {% else %}
	    <input name = 'record_launch' type = 'checkbox'></input>
	    {% endif %}

          </div>
          <div class = 'setting-config'>
            <p>Recording Duration (s)</p>

	    <input name = 'recording_duration' type = 'number' class = 'text-input small-text-input' value = {{recording_duration}}></input>
          </div>
          <button class = 'submit settings-section-btn' type = 'submit'>Save</button>
        </form>
      </div>
    </div>

{% if 'success' in session %}
	<p class = 'green-text text-center'>{{session['success']}}</p>
	<p hidden>{{session.pop('success')}}</p>
{% endif %}

{% if 'error' in session %}
	<p class = 'red-text text-center'>{{session['error']}}</p>
	<p hidden>{{session.pop('error')}}</p>
{% endif %}

    <div id = 'footer-padding'></div>
    <div id = 'footer'>
      <a href = '/mission_control'><h2>Mission Control</h2></a>
      <a href = '/my_account'><h2>My Account</h2></a>
      <a href = '/videos'><h2>Videos</h2></a>
      <a href = '/logout'><h2 id = 'footer_logout'>Logout</h2></a>
      <div>
      <p>Developed by Benjamin Eckert, Peter Gifford, and Ryan Hansen of Western Michigan University</p>
      <a href = '/privacy'>Privacy Policy</a>
      </div>
    </div>
  </body>
</html>
