<html>
  <head>
	  <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>

	  <link rel = 'stylesheet' href = "{{url_for('static', filename = 'css/standard.css')}}"></link>
	  <link rel = 'stylesheet' href = "{{url_for('static', filename = 'css/forms.css')}}"></link>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/responsive.css')}}"></link>
  </head>
   
  <body>
    <div id = 'header'>
      <h1 class = 'text-center'>Raspberry Pi Virtual Launchpad</h1>
    </div>
    
    <div class = 'vertical-center-wrapper'>
	<form class = 'vertical-center-container' action = "{{url_for('login')}}"  method = 'POST'>
		<div>
		<h1 class = 'text-center'>Login</h1>
        	<input type = 'text' class = 'text-input' name = 'username' placeholder = 'Username'></input>
        	<input type = 'password' class = 'text-input' name = 'password' placeholder = 'Password'></input>
        	<input type = 'submit' class = 'submit'></input>
		</div>
    	</form>

    </div>

    {% if 'success' in session %}
	<p class = 'success-text text-center'>{{session['success']}}</p>
	<p hidden>{{session.pop('success')}}</p>
    {% endif %}

    {% if 'error' in session %}
	<p class = 'error-text text-center'>{{session['error']}}</p>
	<p hidden>{{session.pop('error')}}</p>
    {% endif %}
 
    <div id = 'footer-padding'></div>
    <div id = 'footer'>
      <a href = '/sign_up'><h2>Sign Up</h2></a>
    </div>
  </body>
</html>
