<html>
  <head>
	  <meta http-equiv = "refresh" content = "5">
	  <meta name = 'viewport' content = 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/standard.css') }}"></link>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/mission_control.css')}}"></link>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/responsive.css')}}"></link>

  </head>
   
  <body>
    <div id = 'header'>
      <h1 class = 'text-center'>Raspberry Pi Virtual Launchpad</h1>
    </div>
    
    <h1 class = 'text-center title'>Mission Control</h1>

    <div class = 'vertical-center-wrapper'>
    <div class = 'vertical-center-container' id = 'launchpads'>
      			
		{% for pad in pads %}
		{% if pad.name in session['selectedpads'] %}
		<div class = 'launchpad border-green'>
		
		{% else %}
		<div class = 'launchpad'>

		{% endif %}
			<h2>{{pad.name}}</h2>

			{% if pad.connected %}
				<h2 class = 'green-text'>Ready</h2>
				{% if pad.name in session['selectedpads'] %}
				<form action = '/mission_control/deselect' method = 'POST'>
					<input type = 'hidden' name = 'deselect' value = '{{pad.name}}'></input>
					<button type = 'submit' value = 'submit'>Deselect</button>
				</form>
				{% else %}
				<form action = '/mission_control/select' method = 'POST'>
					<input type = 'hidden' name = 'select' value = '{{pad.name}}'></input>
					<button type = 'submit' value = 'submit'>Select</button>
				</form>
				{% endif %}
			{% else %}
				<h2 class = 'red-text'>Not ready</h2>
				{% if pad.name in session['selectedpads'] %}
					<button disabled>Deselect</button>
				{% else %}
					<button disabled>Select</button>
				{% endif %}
			{% endif %}
		</div>
		{% endfor %}
		
		<form action = '/launch' method = 'POST'>
			{% if session['selectedpads']|length > 0 %}
			<button class = 'wide-btn' type = 'submit' value = 'submit'>Launch</button>
			{% else %}
			<button disabled class = 'wide-btn' type = 'submit' value = 'submit'>Launch</button>
			{% endif %}
		</form>

    </div>
</div>

{% if 'success' in session %}
	<p class = 'green-text text-center'>{{session['success']}}</p>
	<p hidden>{{session.pop('success')}}</p>
{% endif %}

{% if 'error' in session %}
	<p class = 'red-text text-center'>{{session['error']}}</p>
	<p hidden>{{session.pop('error')}}</p>
{% endif %}

    <div id = 'footer-padding'></div>
    <div id = 'footer'>
      <a href = '/launch_config'><h2>Launch Configuration</h2></a>
      <a href = '/my_account'><h2>My Account</h2></a>
      <a href = '/videos'><h2>Videos</h2></a>
      <a href = '/logout'><h2 id = 'footer_logout'>Logout</h2></a>
    </div>
  </body>
</html>
