<html>
  <head>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/standard.css') }}"</link>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/forms.css') }}"</link>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/my_account.css') }}"</link>
  </head>
   
  <body>
    <div id = 'header'>
      <h1 class = 'text-center'>Raspberry Pi Virtual Launchpad</h1>
    </div>
    
    <h1 class = 'text-center'>My Account</h1>
    <p class = 'text-center'>Logged in as: {{session['username']}}</p>
	
    <div class = 'vertical-center-wrapper'>
    	<div class = 'vertical-center-container'>
    		<h2 class = 'text-center'>Change Username</h2>
    		<form action = '/my_account/change_username' method = 'POST'>
			<input class = 'text-input' type = 'text' placeholder = 'Current Username' name = 'current'></input>
	    		<input class = 'text-input' type = 'text' placeholder = 'New Username' name = 'new'></input>
			<input type = 'hidden' name = 'type' value = 'username'></input>
			<button class = 'submit' type = 'submit' value = 'submit'>Submit</button>
    		</form>
		<br>
		
    		<h2 class = 'text-center'>Change Password</h2>
		<form action = '/my_account/change_password' method = 'POST'>
			<input class = 'text-input' type = 'password' placeholder = 'Current Password' name = 'current'></input>
			<input class = 'text-input' type = 'password' placeholder = 'New Password' name = 'new'></input>
			<input type = 'hidden' name = 'type' value = 'password'></input>
			<button class = 'submit' type = 'submit' value = 'submit'>Submit</button>
		</form>
		
		{% if not session['admin'] %}
		<br>
		<br>

		<form action = '/delete' method = 'POST'>
			<button class = 'delete-account' type = 'submit' value = 'submit'>Delete Account</button>
		</form>

		{% endif %}
	</div>
    </div>

{% if 'success' in session %}
	<h2 class = 'success-text text-center'>{{session['success']}}</h2>
	<p hidden>{{session.pop('success')}}</p>
{% endif %}

{% if 'error' in session %}
	<h2 class = 'error-text text-center'>{{session['error']}}</h2>
	<p hidden>{{session.pop('error')}}</p>
{% endif %}

    <div id = 'footer-padding'></div>
    <div id = 'footer'>
	{% if session['admin'] %}
	<a href = '/mission_control'><h2>Mission Control</h2></a>
	{% endif %}

      	<a href = '/logout'><h2 id = 'footer_logout'>Logout</h2></a>
    </div>
  </body>
</html>
