<html>
  <head>
          <meta name = 'viewport' content = 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/standard.css') }}"></link>
          <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/responsive.css')}}"></link>

  </head>
   
  <body>
    <div id = 'header'>
      <h1 class = 'text-center'>Raspberry Pi Virtual Launchpad</h1>
    </div>

    <h1 class = 'title text-center'>Privacy Policy</h1>
    <h2>What kind of information do we collect?</h2>
    <p>This policy describes the information we receive for the functionality of the site. We collect only information you provide. This data includes the website usernames, passwords, and profile
picture uploads. Any password stored on this site is encrypted and never stored in plain-text. We do not use cookies.</p>
    <h2>Use of information</h2>
    <p>This information is used for the functionality of the site, allowing users to launch rockets and tag rocket launch videos as their own. Information that is collected is not shared.</p>

    <h2>Deletion of information</h2>
    <p>If a user wants their information to be deleted, they may use the delete account tool in the My Account page.</p>

{% if 'success' in session %}
	<p class = 'green-text text-center'>{{session['success']}}</p>
	<p hidden>{{session.pop('success')}}</p>
{% endif %}

{% if 'error' in session %}
	<p class = 'red-text text-center'>{{session['error']}}</p>
	<p hidden>{{session.pop('error')}}</p>
{% endif %}

    <div id = 'footer-padding'></div>
    <div id = 'footer'>
	{% if session['admin'] %}
        <a href = '/mission_control'><h2>Mission Control</h2></a>
        <a href = '/launch_config'><h2>Launch Configuration</h2></a>
	<a href = '/my_account'><h2>My Account</h2></a>
	<a href = '/videos'><h2>Videos</h2></a>
	<a href = '/logout'><h2 id = 'footer_logout'>Logout</h2></a>
	{% endif %}

	{% if not session['admin'] and 'username' in session %}
	<a href = '/user_launch_page'><h2>Launch</h2></a>
	<a href = '/my_account'><h2>My Account</h2></a>
	<a href = '/videos'><h2>Videos</h2></a>
	<a href = '/logout'><h2 id = 'footer_logout'>Logout</h2></a>
	{% endif %}

	{% if not session['admin'] and 'username' not in session %}
	<a href = '/login'><h2>Login</h2></a>
	<a href = '/sign_up'><h2>Sign Up</h2></a>
	<a href = '/videos'><h2>Videos</h2></a>
	{% endif %}
	
	<div>
    		<p>Developed by Benjamin Eckert, Peter Gifford, and Ryan Hansen of Western Michigan University</p>
    		<a href = '/privacy'>Privacy Policy</a>
	</div>

    </div>

  </body>
</html>
