<html>
  <head>
          <meta name = 'viewport' content = 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/standard.css') }}"></link>
          <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/responsive.css')}}"></link>

  </head>
   
  <body>
    <div id = 'header'>
      <h1 class = 'text-center'>Raspberry Pi Virtual Launchpad</h1>
    </div>

{% if 'success' in session %}
	<p class = 'green-text text-center'>{{session['success']}}</p>
	<p hidden>{{session.pop('success')}}</p>
{% endif %}

{% if 'error' in session %}
	<p class = 'red-text text-center'>{{session['error']}}</p>
	<p hidden>{{session.pop('error')}}</p>
{% endif %}

    <div id = 'footer-padding'></div>
    <div id = 'footer'>
      <a href = '/sign_up'><h2>Sign Up</h2></a>
      <a href = '/login'><h2>Login</h2></a>
      <a href = '/my_account'><h2>My Account</h2></a>
      <a href = '/mission_control'><h2>Mission Control</h2></a>
      <a href = '/videos'><h2>Videos</h2></a>
      <a href = '/logout'><h2 id = 'footer_logout'>Logout</h2></a>
      <div>
      <p>Developed by Benjamin Eckert, Peter Gifford, and Ryan Hansen of Western Michigan University</p>
      <a href = '/privacy'>Privacy Policy</a>
      </div>
    </div>
  </body>
</html>
