<html>
  <head>
          <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>

	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/standard.css') }}"></link>
          <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/forms.css') }}"></link>
	  <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/videos.css') }}"></link>
          <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/responsive.css')}}"></link>
  </head>
   
  <body>
    <div id = 'header'>
      <h1 class = 'text-center'>Raspberry Pi Virtual Launchpad</h1>
    </div>
    <h1 class = 'title text-center'>Videos</h1>
    
    <form class = 'search-bar' action = '/videos' method = 'POST'>
            <input class = 'text-input' type = 'text' placeholder = 'Search by user...' name = 'search-bar'> </input>
    <button class = 'submit' type = 'submit' name = 'submit'>Search</button>
          </form>
    
   <div class = 'videos'>
      
      {% for video in videos %}
      <div class = 'video-box'>
        <div class = 'video-header'>
          <div class = 'video-users'>
            {% for i in range(video.users|length) %}
            <div class = 'video-user'>
	       <img src = '{{video.pictures[i]}}' title = '{{video.users[i]}}'></img>
	       <p>{{video.users[i]}}</p>
            </div>
	    {% endfor %}
          </div>
	  <p class = 'text-center video-timestamp'>{{video.timestamp}}</p>
        </div>
	<video src = '{{video.name}}' controls></video>
      </div>
      {% endfor %}

    </div>

{% if 'success' in session %}
	<p class = 'green-text text-center'>{{session['success']}}</p>
	<p hidden>{{session.pop('success')}}</p>
{% endif %}

{% if 'error' in session %}
	<p class = 'red-text text-center'>{{session['error']}}</p>
	<p hidden>{{session.pop('error')}}</p>
{% endif %}


    <div id = 'footer-padding'></div>
    <div id = 'footer'>
	{% if session['admin'] %}
        <a href = '/mission_control'><h2>Mission Control</h2></a>
        <a href = '/launch_config'><h2>Launch Configuration</h2></a>
	<a href = '/my_account'><h2>My Account</h2></a>
	<a href = '/logout'><h2 id = 'footer_logout'>Logout</h2></a>
	{% endif %}

	{% if not session['admin'] and 'username' in session %}
	<a href = '/user_launch_page'><h2>Launch</h2></a>
	<a href = '/my_account'><h2>My Account</h2></a>
	<a href = '/logout'><h2 id = 'footer_logout'>Logout</h2></a>
	{% endif %}

	{% if not session['admin'] and 'username' not in session %}
	<a href = '/login'><h2>Login</h2></a>
	<a href = '/sign_up'><h2>Sign Up</h2></a>
	{% endif %}

    </div>
  </body>
</html>
