:root{
	--largefont-desk:36px;
	--mediumfont-desk:24px;
	--smallfont-desk:16px;
	--largefont-phone:72px;
	--mediumfont-phone:64px;
	--smallfont-phone:36px;
	--padding-desk:10px;
	--padding-phone:20px;
}

.text-input{
  margin:10px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:var(--padding-desk);
  border-radius:5px;
  width:100%;
}

.vertical-center-wrapper{
  display:flex;
  justify-content:center;
  height:100%;
}

.vertical-center-container{
  align-self:center;
}

.submit{
  background-color:rgb(92,243,164);
  color:black;
  margin-left:auto;
  margin-right:auto;
  display:block;
  padding:var(--padding-desk);
  border-radius:5px;
  width:100%;
}
