:root{
	--largefont-desk:36px;
	--mediumfont-desk:24px;
	--smallfont-desk:16px;
	--largefont-phone:72px;
	--mediumfont-phone:64px;
	--smallfont-phone:36px;
	--padding-desk:10px;
	--padding-phone:20px;
}

.vertical-center-wrapper{
  display:flex;
  justify-content:center;
  height:100%;
}

.vertical-center-container{
  align-self:center;
}

#launchpads{
  width:50%;
}

.launchpad{
  margin:10px;
  margin-top:30px;
  margin-bottom:30px;
  background-color:black;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.launchpad form{
  margin:0px;
}

.border-green{
  border:solid rgb(92,243,164);
}

.launchpad button{
  padding:var(--padding-desk);
  border-radius:5px;
}

.ready-text{
  color:rgb(92,243,164);
}

.not-ready-text{
  color:rgb(242,86,83);
}

button[disabled]{
  background-color:grey;
}

.launch-btn{
  width:96%;
  margin-left:2%;
  padding:var(--padding-desk);
  border-radius:5px;
}
