:root{
	--largefont-desk:36px;
	--mediumfont-desk:24px;
	--smallfont-desk:16px;
	--padding-desk:10px;
}

.delete-account{
  background-color:rgb(242,86,83);
  font-family:consolas;
  font-size:var(--smallfont-desk);
  color:black;
  margin-left:auto;
  margin-right:auto;
  display:block;
  padding:var(--padding-desk);
  border-radius:5px;
  width:100%;
}

#picture{
  border-radius:50%;
  width:200px;
  height:200px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border:solid rgb(92,243,164);
}
