:root{
	--largefont-desk:36px;
	--mediumfont-desk:24px;
	--smallfont-desk:16px;
	--padding-desk:10px;
}

@media only screen and (hover: none) and (pointer: coarse){

	#launchpads{
		width:100%;
	}

	.vertical-center-wrapper{
		height:300%;
		width:auto;
	}

	.vertical-center-container{
		display:block;
		width:auto;
	}

	.users-section{
		width:75%;
	}

	.settings-section{
		width:75%;
	}

	.videos{
		width:100%;
		min-height:300px;
	}

	.search-bar{
		width:90%;
	}

	.video-user img{
		width:25px;
		height:25px;
	}

}
