:root{
	--largefont-desk:36px;
	--mediumfont-desk:24px;
	--smallfont-desk:16px;
	--padding-desk:10px;
}

@media only screen and (hover: none) and (pointer: coarse){

	#launchpads{
		width:100%;
	}
	
	.title{
		margin-top:50px;
	}

}
