:root{
	--largefont-desktop:36px;
	--mediumfont-desktop:24px;
	--smallfont-desktop:16px;
	--largefont-phone:96px;
	--mediumfont-phone:64px;
	--smallfont-phone:32px;

}

html,body{
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}

h1{
  font-family:consolas;
  color:rgb(92,243,164);
  font-size:var(--largefont-desktop);
}

h2{
  font-family:consolas;
  color:rgb(144,165,248);
  font-size:var(--mediumfont-desktop);
}

p,ul{
  font-family:consolas;
  color:rgb(233,237,236);
  font-size:var(--smallfont-desktop);
}

body{
  background-color:rgb(28,25,35);
  display:flex;
  flex-direction:column;
}

button{
  background-color:rgb(92,243,164);
  font-family:consolas;
  font-size:var(--smallfont-desktop);
  color:black;
}

a{
  color:rgb(144,165,248);
  font-size:var(--smallfont-desktop);
}

#header{
  width:100%;
  background-color:black;
  padding:1px;
}

#header h1{
  margin:10px;
}

#header-links{
  color:rgb(144,165,248);
  margin:10px;
}

#header-links a{
  margin:10px;
}

.text-center{
  text-align:center;
}

#footer-padding{
  flex: 1 0 auto;
}

#footer{
  text-align:center;
  margin-top:10px;
  flex-shrink:0;
}

#footer a h2{
  background-color:black;
  padding:10px;
  margin-bottom:0px;
}

#footer a{
  text-decoration:none;
}

#footer_logout{
  color:rgb(242, 86, 83);
}

.error-text{
  color:rgb(242, 86, 83);
}

.success-text{
  color:rgb(92, 243, 164);
}

@media only screen and (hover: none) and (pointer: coarse){
  
  h1{
    font-size:var(--largefont-phone);
  }
  
  h2{
    font-size:var(--mediumfont-phone);
  }
  
  p,ul,a{
    font-size:var(--smallfont-phone);
  }
}
