h1{
	font-family:consolas;
	color:rgb(92,243,164);
	font-size:36px;
}

h2{
	font-family:consolas;
	color:rgb(144,165,248);
	font-size:24px;
}

p,ul{
	font-family:consolas;
	color:rgb(233,237,236);
	font-size:16px;
}

body{
	background-color:rgb(28,25,35);
}

button{
	background-color:rgb(92,243,164);
	font-family:consolas;
	font-size:16px;
	color:black;
}

a{
	color:rgb(144,164,248);
	font-family:consolas;
	font-size:16px;
}
